body {
    font-size: 12px;
    line-height:110%;
}

.panel-default > .panel-heading {
    background-color:#ec971f;
    color: white;
    font-weight: bold;
}

.recipients-stats .badge {
    float:left;
    margin-right: 5px;
    background-color:#2b669a;
}

.recipients-stats li {
    font-weight: bold;
    color:#337ab7;
}


.panel-heading-custom {
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bold;
}
.panel-heading-custom-title {
    background-color: #3ca321;
    color: white;
    font-weight: bold;
}
.panel-heading-custom + .in {
    border-top: 1px dotted darkgray;
}
.panel-heading-custom a:after {
    font-family:'Glyphicons Halflings';
    float: right;
    color: grey;
    content:"\e114";
}
.panel-heading-custom a.collapsed:after {
    content:"\e080";
}