.panel-default > .panel-heading {
    background-color:#ec971f;
    color: white;
    font-weight: bold;
}

.recipients-stats .badge {
    float:left;
    margin-right: 5px;
    background-color:#2b669a;
}

.recipients-stats li {
    font-weight: bold;
    color:#337ab7;
}
